@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');
body {
  font-size: 24px;
  font-family: 	Copperplate, Fantasy;
  
  margin: 0;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Righteous, Poppins, sans-serif;
}

.home-content{
  background-color: white;
  background-image: url("home.png");
  background-size: cover;
}


/*making navbar*/
.logo{
	position: absolute;
	padding-left: 40px;
	padding-top: 10px;
	cursor: pointer;
}

nav {
  width: 100%;
  height: 110px;
  background-color: #0009;
  opacity: 1;
  line-height: 80px;
  z-index: 1000;
  position: fixed;

}


nav ul {
  list-style-type: none;
  margin: 0;
  padding-right: 0;
  float: right;
  display: inline-block;
 
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  border-left: 1px solid white;

}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding-top:  15px;
  padding-bottom: 15px;
  padding-left:  30px;
  padding-right: 30px;
  text-decoration: none;
  transition: 500ms all;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  transition: width .3s;
}

.active {
  background-color: #4CAF50;
}


/*footer*/

.footer {
  background-color: #0009;
  text-align: center;
  padding: 30px;
  color: white;
}

.mid {
  width: 100%;
  height: 100vh;
  background-color: #0000;
}

.text {
  position: absolute;
  color: white;
  size: 200%
  width: 100%;
  min-height: 100vh;
  padding:100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.text h1{
  font-size: 3em;
}


.typead {
  position: relative;
  align-items: center;
  padding-left: 50%;
  padding-top: 26%;
  display: flex;

}

form.typead input[type=text] {
  padding: 10px;
  font-size: 22px;
  border: 2px red;
  float: left;
  width: 50%;
  background: white;

}

form.typead button {
  float: right;
  width: 30%;
  padding: 10px;
  background: #111;
  text-transform: uppercase;
  color: white; 
  font-size: 22px;
  border: 0px solid grey;
  border-left: none;
  cursor: pointer;

}
/*change color to red when hover*/
form.typead button:hover{
  background: red;
}

/*product page*/

.promotion{
	height: 510px;
	width: 100%;
	top: 0;
	position: fixed;
	background-image: url("promo.png");
	background-size: cover;
	



}

.promotion h1 {
	padding-top: 15%;
	padding-right: 15%;
	text-align: right;
	font-size: 70px;
	text-transform: uppercase;
	color: white;

}

.productpage{
	width: 100%;
	position: relative;
	top:500px;
	background-color: #fff;
	height: 100vh;

}

.productpage h1{
	padding-top: 30px;
	padding-left: 50px;
	font-size: 20px;
	margin: 0;

}

/*for each product*/ 
.flavor {
	font-weight: 200;
	font-size: 26px;
	text-transform: uppercase;

}

.product {
	margin: 2rem;
	position: relative;

}

.product-content {
	background-color: rgb(255, 255, 247);
	padding-left: 10px;
	cursor: pointer; 

}

.product-img{
   	
  
    
    padding-left: 15px;


}



.product-info{
    background: rgb(255, 243, 242);
    padding: 2rem;
}
.product-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.num-sold{
	background-color: grey;
	color: white;
	padding: 0.5rem 1rem;
	font-size: 20px;
}


.number {
	position: absolute;
    background: green;
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}




.product-items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
}

/* page for details of the cinnamon roll*/

.spec {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	bottom: 0;
	right: 0;
	background-color: #0009;
	z-index: 2;
	
	overflow: hidden;

}

.spec-content{
	position: relative;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	max-width: 800px;
	max-height: 600px;
	width: 59%;
	height: 80%;
	background-color: white;


}

.spec-img{

	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	width: 50%;
	height: 100%;
	overflow: hidden;


}

.spec-img img{
	width: auto;
	height: 100%;

}

.spec-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 59%
	height: 100%;
	padding: 4rem;
}

.spec-text h1{
	font-size: 2rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
	color: #0a0a0a;

}

.price h1{
	font-size: 1.5rem;
	margin-bottom: 1rem;
	
	color: red;

}
.spec-text h2{
	font-size: 1rem;
	margin-bottom: 2rem;
	
	color: #0a0a0a;

}
.spec-text p{
	font-size: 0.8rem;
	color: black;
	line-height: 1.5;
	
}

.spec-close{
	position: absolute;
	right: -1rem;
	top: -1rem;
	width: 3rem;
	height: 3rem;
	font-size: 0.875rem;
	font-size: 400;
	border-radius: 100%;
	background-color: #0a0a0a;
	z-index: 4;
	color: white;
	line-height: 3rem;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

.glazing button{
	display: inline-block;
	background-color: #ddd;
	border: 3px red;
	color: black;
	padding: 10px;
	margin-bottom: 30px;

}

.glazing button:hover {
    background-color: red;
    color: white;
}

form button{
	width: 200px;
}

form button:hover {
    background-color: red;
    color: white;
}

.f1 form label{
	font-size: 20px;
}

.f1 form input{
	width: 100px;
}

.f1 form{
	width: 200px;

}


.spec-text .num-sold {
	text-align: center;
	width: 100px;
	background-color: aquamarine;
	margin-bottom: 2rem;
}
